@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Primary colors */
  --light-sand: #faf7f0;
  --dark-sand: #d8d2c2;
  --brown: #b17457;
  --dark-gray: #4a4947;

  /* Secondary colors */
  --dark-chocolate: #603f26;
  --light-chocolate: #6c4e31;
  --skin-tone: #ffdbb5;
  --light-skin-tone: #fffac5;

  /* Tertiary colors */
  --blue-25: #dde6ed;
  --blue-50: #9db2bf;
  --blue-75: #526d82;
  --blue-100: #27374d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  height: 100dvh;
  background-color: var(--skin-tone);
  color: var(--dark-chocolate);
}

/** Configurações do HEADER */

/** Configurações do MAIN */

.wrapper main {
  diplasy: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-content: center;
}

.wrapper main section {
  display: none;
}

.wrapper main h1,
.wrapper main h2 {
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  background-color: var(--dark-chocolate);
  color: var(--light-skin-tone);
}

/** Configuração seção PAGINA INICIAL */
.wrapper main section#pagina-inicial {
  display: grid;
  grid-template-rows: auto 1fr;
}

.wrapper main section#pagina-inicial .conteudo-principal {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.wrapper main section#pagina-inicial .conteudo-principal #formulario-login {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 15px;
  display: none;
}

.wrapper
  main
  section#pagina-inicial
  .conteudo-principal
  #formulario-login
  input {
  display: block;
  width: 100%;
  margin-top: 5px;
}

/** Configurações do FOOTER */
footer {
  padding: 10px 0 5px 0;
  font-weight: 900;
  font-size: 0.8rem;
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 5px;
  text-align: center;
  box-shadow: 0 0 10px 0 #4a4947;
}

footer nav ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(15px, 15%));
  align-items: center;
  justify-content: space-evenly;
}

footer nav ul li a {
  font-weight: 100;
  padding: 5px 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--dark-chocolate);
  color: var(--light-skin-tone);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/** Configurações gerais */
.wrapper main section.active {
  display: grid;
}

.italico {
  font-style: italic;
}

.negrito {
  font-weight: bold;
}
